<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>MontserratAlternates-Black.ttf</string>
		<string>MontserratAlternates-BlackItalic.ttf</string>
		<string>MontserratAlternates-BoldItalic.ttf</string>
		<string>MontserratAlternates-Bold.ttf</string>
		<string>MontserratAlternates-ExtraLight.ttf</string>
		<string>MontserratAlternates-ExtraBoldItalic.ttf</string>
		<string>MontserratAlternates-ExtraLightItalic.ttf</string>
		<string>MontserratAlternates-Italic.ttf</string>
		<string>MontserratAlternates-Light.ttf</string>
		<string>MontserratAlternates-LightItalic.ttf</string>
		<string>MontserratAlternates-Medium.ttf</string>
		<string>MontserratAlternates-MediumItalic.ttf</string>
		<string>MontserratAlternates-Regular.ttf</string>
		<string>MontserratAlternates-SemiBold.ttf</string>
		<string>MontserratAlternates-SemiBoldItalic.ttf</string>
		<string>MontserratAlternates-ThinItalic.ttf</string>
		<string>MontserratAlternates-Thin.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
